body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.profile-header {
  margin-top: 50px;
}

.profile-header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.details p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.portfolio {
  margin-top: 50px;
}

.portfolio h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.portfolio-images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.portfolio-images img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.portfolio-images img:hover {
  transform: scale(1.1);
}
